<mat-card class="mat-whiteframe-2dp">
  <mat-card-title> <span>➕ Créer une musique</span> </mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="form">

      <!-- Titre -->
    <p [class.errors]="form.get('title')!.invalid && (form.get('title')!.dirty || form.get('title')!.touched)">
      <mat-form-field class="name" >
        <mat-label>Titre</mat-label>
        <input formControlName="title" name="title" matInput placeholder="Ex: Beautiful Song" required/>
        <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['required']"><br />Le titre est obligatoire</mat-error>
        <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['minlength']"><br />Le titre doit avoir au moins 4 caractères </mat-error>
      </mat-form-field>
    </p>

    <!-- Description -->
    <p [class.errors]="form.get('description')!.invalid && (form.get('description')!.dirty || form.get('description')!.touched)">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput placeholder="Ex: Une description de la musique" required></textarea>
        <mat-error *ngIf="form.get('description')!.dirty && form.get('description')!.errors?.['required']"><br />La description est obligatoire</mat-error>
        <mat-error *ngIf="form.get('description')!.dirty && form.get('description')!.errors?.['minlength']"><br />La description doit avoir au moins 10 caractères </mat-error>
      </mat-form-field>
    </p>

    <!-- Album -->
    <p [class.errors]="form.get('album')!.invalid && (form.get('album')!.dirty || form.get('album')!.touched)">
      <mat-form-field>
        <mat-label>Album</mat-label>
        <input formControlName="album" matInput placeholder="Ex: Album Name" required/>
        <mat-error *ngIf="form.get('album')!.dirty && form.get('album')!.errors?.['required']"><br />Le nom de l'album est obligatoire</mat-error>
        <mat-error *ngIf="form.get('album')!.dirty && form.get('album')!.errors?.['minlength']"><br />Le nom de l'album doit avoir au moins 4 caractères </mat-error>
      </mat-form-field>
    </p>

    <!-- Artiste -->
    <p [class.errors]="form.get('artist')!.invalid && (form.get('artist')!.dirty || form.get('artist')!.touched)">
      <mat-form-field>
        <mat-label>Artiste</mat-label>
        <input formControlName="artist" matInput placeholder="Ex: Artist Name" required/>
        <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['required']"><br />Le nom de l'artiste est obligatoire</mat-error>
        <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['minlength']"><br />Le nom de l'artiste doit avoir au moins 4 caractères </mat-error>
      </mat-form-field>
    </p>

    <!-- Date -->
    <p [class.errors]="form.get('date')!.invalid && (form.get('date')!.dirty || form.get('date')!.touched)">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput placeholder="Format: YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        <mat-error *ngIf="form.get('date')!.dirty && form.get('date')!.errors?.['required']"><br />La date est obligatoire</mat-error>
        <mat-error *ngIf="form.get('date')!.dirty && form.get('date')!.errors?.['pattern']"><br />Le format de la date est invalide</mat-error>
      </mat-form-field>
    </p>

    <!-- Durée -->
    <p [class.errors]="form.get('duration')!.invalid && (form.get('duration')!.dirty || form.get('duration')!.touched)">
      <mat-form-field>
        <mat-label>Durée</mat-label>
        <input formControlName="duration" matInput placeholder="Ex: 3:30"/>
        <mat-error *ngIf="form.get('duration')!.dirty && form.get('duration')!.errors?.['required']"><br />La durée est obligatoire</mat-error>
        <!---<mat-error *ngIf="form.get('duration')!.dirty && form.get('duration')!.errors?.['pattern']"><br />Le format de la durée est invalide</mat-error>-->
      </mat-form-field>
    </p>


      <!-- Style avec chip-list -->
      <p>
        <mat-form-field class="chip-list">
          <mat-label><mat-icon>music_note</mat-icon> Style :</mat-label>
          <mat-chip-list #chipList aria-label="Styles de la musique">
            <mat-chip *ngFor="let style of musicModel.styles" (removed)="removeChipset(style)" >
              {{style}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Ex: Jazz..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addChipset($event)">
          </mat-chip-list>
        </mat-form-field>
      </p>

      <!-- Picture -->    
      <input #fileInput type="file" (change)="onFileSelected($event)" name="picture" style="display: none;" accept=".png,.jpg" />
      <div *ngIf="musicModel.picture">
        <img width="100" [src]="musicModel.picture" alt="Image de la musique" /> <br>
        <button mat-flat-button color="warn" (click)="musicModel.picture = null;">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </div>
      <div class="file-upload" *ngIf="!musicModel.picture">
        <button type="button" (click)="fileInput.click()" mat-fab>
          <mat-icon>
            image
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Annuler</button>
    <button mat-button type="submit" color="primary" (click)="submit(form.value)" [disabled]="!form.valid">Valider</button>
  </mat-card-actions>
</mat-card>
