<mat-card class="carteCustom">
  <mat-card-header>
    <img *ngIf="music?.picture" mat-card-avatar [src]="music?.picture" alt="Image de la musique"/>
    <mat-card-title>{{ music?.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let style of music?.styles">
            <mat-icon class="small">
              music_note
            </mat-icon>
            {{ style }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="info">
      <mat-icon>album</mat-icon>
      {{ music?.album }}
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>person</mat-icon>
      {{ music?.artist }}
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>schedule</mat-icon>
      {{ music?.duration }}
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>event</mat-icon>
      {{ music?.date | date}}
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-mini-fab aria-label="Editer" color="accent" [routerLink]="['/edit', music?.id]">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
